---
layout: default
---

<!-- about.html -->
<div class="post">
  <style>
    .slideshow-container {
        position: relative;
        z-index: 100; /* Adjust if necessary */
    }
    .mySlides {
        display: none;
    }
  </style>
    <header class="post-header">
        <h1 class="post-title">
            {% if site.title == "blank" -%}
                <span class="font-weight-bold">{{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}</span>
            {%- else -%}
                {{ site.title }}
            {%- endif %}
        </h1>
        <p class="desc">{{ page.subtitle }}</p>
    </header>

    <article>
        {% if page.profile -%}
        <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
            <!-- Slideshow container -->
            <div class="slideshow-container">
                <!-- Full-width images with number and caption text -->
                <div class="mySlides fade">
                    <img src="assets/img/Derek-onrobot.jpg" style="width:100%">
                </div>

                <div class="mySlides fade">
                    <img src="assets/img/Derek-quadrotor.jpg" style="width:100%">
                </div>

                <div class="mySlides fade">
                    <img src="assets/img/Derek-offworld.jpg" style="width:100%">
                </div>
            </div>
            <script>
                var slideIndex = 0;
                showSlides();

                function showSlides() {
                    var i;
                    var slides = document.getElementsByClassName("mySlides");
                    for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";  
                    }
                    slideIndex++;
                    if (slideIndex > slides.length) {slideIndex = 1}    
                    slides[slideIndex-1].style.display = "block";  
                    setTimeout(showSlides, 3000); // Change image every 2 seconds
                }
            </script>
            {% endif -%}
            {%- if page.profile.more_info %}
            <div class="more-info">
                {{ page.profile.more_info }}
            </div>
            {%- endif %}
        </div>
        {%- endif %}

        <div class="clearfix">
            {{ content }}
        </div>
        
        <!-- Rest of your existing HTML code -->
    </article>
</div>
