---
layout: page
---

<!-- about.html -->
<div class="post">
    <article>
        {% if page.profiles -%}
        {% for profile in page.profiles %}
        <hr>
        <div class="profile float-{%- if profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if profile.image %}
            <!-- Image placeholders for cycling -->
            <img id="profileImage" class="img-fluid z-depth-1 rounded" src="assets/img/Derek-onrobot.jpg" alt="Profile Image">
            <!-- Add other image paths here -->
            <script>
                var images = [
                    'assets/img/Derek-onrobot.jpg', // Replace with your image path
                    'assets/img/Derek-quadrotor.jpg', // Replace with your image path
                    'assets/img/Derek-offworld.jpg'   // Replace with your image path
                ];
                var currentImage = 0;
                
                function cycleImages() {
                    currentImage = (currentImage + 1) % images.length;
                    document.getElementById('profileImage').src = images[currentImage];
                }
                
                setInterval(cycleImages, 3000); // Change image every 3000 milliseconds (3 seconds)
            </script>
            {% endif -%}
            {%- if profile.more_info %}
            <div class="more-info">
                {{ profile.more_info }}
            </div>
            {%- endif %}
        </div>

        <div class="clearfix">
            {% if profile.content -%}
            {% capture profile_content %}{%- include_relative {{ profile.content }} %}{% endcapture %}
            {{ profile_content | markdownify }}
            {%- else -%}
            {{ content }}
            {%- endif %}
        </div>

        {% endfor %}
        {%- endif %}
    </article>
</div>
